body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a08383;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

button {
  background-color: #879e88;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

